* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  margin: 0;
}

body {
  background-color: hsl(0, 0%, 13%);
}

a {
  text-decoration: none;
}

.title {
  font-size: 50px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: hsl(0, 0%, 80%);
}

.large {
  font-size: 40px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: hsl(0, 0%, 80%);
}

.home-icon, .add-icon, .search-icon, .outbox-icon, .order__direction[direction=out], .inbox-icon, .order__direction[direction=in], .edit-icon, .duration-icon, .brightness-icon, .power-switch-icon, .next-icon, .rotate-icon {
  background-position: center;
  background-size: auto 70%;
  background-repeat: no-repeat;
}

button,
.button-base,
.task-links__item,
.go-home-container a {
  background-color: hsl(0, 0%, 23%);
  border: none;
  opacity: 1;
  color: hsl(0, 0%, 39%);
}
button:hover,
.button-base:hover,
.task-links__item:hover,
.go-home-container a:hover {
  background-color: hsl(0, 0%, 27%);
}
button:disabled, button[disabled],
.button-base:disabled,
.task-links__item:disabled,
.go-home-container a:disabled,
.button-base[disabled],
[disabled].task-links__item,
.go-home-container a[disabled] {
  background-color: hsl(0, 0%, 27%);
  opacity: 0.5;
}

.rotate-icon {
  background-image: url("/media/rotate-arrow.png");
}

.next-icon {
  background-size: auto 65%;
  background-image: url("/media/next.png");
}

.power-switch-icon {
  background-image: url("/media/power-btn.png");
}

.brightness-icon {
  background-image: url("/media/brightness.png");
}

.duration-icon {
  background-image: url("/media/duration.png");
}

.edit-icon {
  background-image: url("/media/edit.png");
}

.inbox-icon, .order__direction[direction=in] {
  background-image: url("/media/inbox.png");
}

.outbox-icon, .order__direction[direction=out] {
  background-image: url("/media/outbox.png");
}

.search-icon {
  background-image: url("/media/search.png");
}

.add-icon {
  background-image: url("/media/add.png");
}

.home-icon {
  background-image: url("/media/home.png");
}

.lamp[lamp-type=basic] .lamp__bulb.is-on + .lamp__light, .lamp[lamp-type=basic] .lamp__bulb {
  display: block;
  position: absolute;
  z-index: 100;
  top: 281px;
  left: calc(50% - 35px);
  height: 70px;
  width: 70px;
  background-color: hsl(0, 0%, 13%);
  border-radius: 50%;
}

.lamp[lamp-type=eco] .lamp__bulb.is-on + .lamp__light, .lamp[lamp-type=eco] .lamp__bulb {
  display: block;
  position: absolute;
  z-index: 100;
  top: 285px;
  left: calc(50% - 15px);
  height: 40px;
  width: 30px;
  background-color: hsl(0, 0%, 13%);
  border-radius: 0 0 10px 10px;
}

.lamp[lamp-type=led] .lamp__bulb.is-on + .lamp__light, .lamp[lamp-type=led] .lamp__bulb {
  display: block;
  position: absolute;
  z-index: 100;
  top: 281px;
  left: calc(50% - 25px);
  height: 50px;
  width: 50px;
  background-color: hsl(0, 0%, 13%);
  border-radius: 50%;
}

.lamp {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -500px;
  left: 0;
}
.lamp__wire {
  display: block;
  position: absolute;
  top: 0;
  left: calc(50% - 1px);
  height: 250px;
  width: 2px;
  background-color: hsl(0, 0%, 39%);
}
.lamp__patron {
  display: block;
  position: absolute;
  top: 250px;
  left: calc(50% - 15px);
  height: 35px;
  width: 30px;
  border: solid 2px;
  background-color: hsl(0, 0%, 39%);
  border-color: hsl(0, 0%, 39%) hsl(0, 0%, 39%) transparent hsl(0, 0%, 39%);
  border-radius: 25px 25px 0 0;
}
.lamp[lamp-type=basic] .lamp__bulb {
  border: solid 2px hsl(0, 0%, 39%);
}
.lamp[lamp-type=basic] .lamp__bulb.is-on + .lamp__light {
  border-color: hsl(60, 100%, 50%);
  background-color: hsl(60, 100%, 50%);
  box-shadow: 0 0 50px hsl(60, 100%, 50%), 0 0 100px hsl(60, 100%, 50%), 0 0 150px hsl(60, 100%, 50%), 0 0 200px hsl(60, 100%, 50%), 0 0 250px hsl(60, 100%, 50%), 0 0 300px hsl(60, 100%, 50%), 0 0 350px;
  opacity: 1;
}
.lamp[lamp-type=eco] .lamp__bulb {
  border: solid 2px hsl(0, 0%, 39%);
}
.lamp[lamp-type=eco] .lamp__bulb.is-on + .lamp__light {
  border-color: hsl(34, 78%, 91%);
  background-color: hsl(34, 78%, 91%);
  box-shadow: 0 0 50px hsl(34, 78%, 91%), 0 0 100px hsl(34, 78%, 91%), 0 0 150px hsl(34, 78%, 91%), 0 0 200px hsl(34, 78%, 91%), 0 0 250px hsl(34, 78%, 91%), 0 0 300px hsl(34, 78%, 91%), 0 0 350px;
  opacity: 1;
}
.lamp[lamp-type=led] .lamp__bulb {
  border: solid 2px hsl(0, 0%, 39%);
}
.lamp[lamp-type=led] .lamp__bulb.is-on + .lamp__light {
  border-color: hsl(199, 100%, 88%);
  background-color: hsl(199, 100%, 88%);
  box-shadow: 0 0 50px hsl(199, 100%, 88%), 0 0 100px hsl(199, 100%, 88%), 0 0 150px hsl(199, 100%, 88%), 0 0 200px hsl(199, 100%, 88%), 0 0 250px hsl(199, 100%, 88%), 0 0 300px hsl(199, 100%, 88%), 0 0 350px;
  opacity: 1;
}
.lamp__light {
  opacity: 1;
  border: none;
  background-color: transparent;
}

.traffic-lights-container {
  position: relative;
}

.traffic-lights {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: calc(50% - 260px / 2);
  left: calc(50% - 100px / 2);
  height: 260px;
  width: 100px;
  border: solid 2px hsl(0, 0%, 39%);
  border-radius: 10px;
}
.traffic-lights .traffic-lights__red, .traffic-lights .traffic-lights__yellow, .traffic-lights .traffic-lights__green {
  width: 70px;
  height: 70px;
  border: solid 2px hsl(0, 0%, 39%);
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.5s;
}
.traffic-lights[color=red] .traffic-lights__red {
  background-color: hsl(7, 90%, 50%);
}
.traffic-lights[color=yellow] .traffic-lights__yellow {
  background-color: hsl(47, 90%, 50%);
}
.traffic-lights[color=green] .traffic-lights__green {
  background-color: hsl(100, 90%, 46%);
}

input[type=month],
input[type=datetime-local],
input[type=text] {
  display: block;
  outline: none;
  border: solid 2px hsl(0, 0%, 39%);
  background-color: transparent;
  color: hsl(0, 0%, 39%);
  padding: 4px 4px 4px 12px;
  border-radius: 10px;
  font-size: 18px;
}
input[type=month]:focus,
input[type=datetime-local]:focus,
input[type=text]:focus {
  color: hsl(0, 0%, 80%);
  border-color: hsl(0, 0%, 80%);
}
input[type=month]::-webkit-inner-spin-button, input[type=month]::-webkit-calendar-picker-indicator,
input[type=datetime-local]::-webkit-inner-spin-button,
input[type=datetime-local]::-webkit-calendar-picker-indicator,
input[type=text]::-webkit-inner-spin-button,
input[type=text]::-webkit-calendar-picker-indicator {
  background-color: hsl(0, 0%, 39%);
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.5s;
}
input[type=month]::-webkit-inner-spin-button:hover, input[type=month]::-webkit-calendar-picker-indicator:hover,
input[type=datetime-local]::-webkit-inner-spin-button:hover,
input[type=datetime-local]::-webkit-calendar-picker-indicator:hover,
input[type=text]::-webkit-inner-spin-button:hover,
input[type=text]::-webkit-calendar-picker-indicator:hover {
  background-color: hsl(0, 0%, 80%);
}

input[type=text] {
  padding: 4px;
}

.container {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.action-btn-set {
  display: flex;
  flex-direction: column;
  gap: 17px;
  padding: 0 70px;
}
.action-btn-set .action-buttons {
  display: flex;
  flex-direction: row;
  gap: 17px;
  justify-content: space-between;
  height: 110px;
}
.action-btn-set .action-buttons button {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.action-btn-set .action-buttons.thin {
  height: 80px;
}

.go-home-container {
  display: flex;
}
.go-home-container a {
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
  padding: 14px;
  width: 100%;
}

.canvas {
  display: grid;
  grid-template-rows: 1fr auto;
  position: relative;
  width: 100%;
  height: 450px;
}

.centered-block {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.item-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0;
  list-style-type: none;
}
.item-list .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: hsl(0, 0%, 80%);
}

.lab-title {
  text-align: center;
  padding: 60px;
}

.task-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.task-links__item {
  font-size: 20px;
  border-radius: 10px;
  padding: 20px;
  color: hsl(0, 0%, 80%);
  font-weight: 300;
}

.active-light {
  display: block;
  position: relative;
  padding: 30px;
  text-align: center;
  color: hsl(0, 0%, 80%);
  font-size: 24px;
}

.calendar, .clock-timer-container {
  border: solid 2px hsl(0, 0%, 39%);
  border-radius: 20px;
  padding: 30px;
}

.clock-timer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 14px;
  color: hsl(0, 0%, 80%);
}

.clock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
.clock__pulse {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
  transform: scale(1);
}
.clock__value {
  display: block;
  width: 55%;
  font-size: 36px;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: hsl(0, 0%, 27%);
  margin: 10px auto;
}

.timer {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.timer__value {
  font-size: 30px;
}
.calendar {
  display: flex;
  flex-direction: column;
  gap: 14px;
  color: hsl(0, 0%, 80%);
}
.calendar td {
  text-align: center;
  padding: 7px;
  border-radius: 50%;
}
.calendar td.is-shown {
  cursor: pointer;
  background-color: hsl(0, 0%, 23%);
  transition: background-color 0.3s;
}
.calendar td.is-shown:hover {
  background-color: hsl(0, 0%, 39%);
}

.store-title {
  text-align: center;
  padding: 30px;
}

.product-section {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.product-section__toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
  position: relative;
}
.product-section__toolbar .search-product {
  display: flex;
  flex-direction: row;
  gap: 7px;
  justify-content: right;
}

.product-section__stats {
  display: flex;
  flex-direction: row;
  gap: 14px;
}
.product-section__stats .stats__title {
  font-size: 13px;
  color: hsl(0, 0%, 39%);
  font-weight: 400;
  padding: 5px 0;
  text-wrap: nowrap;
  vertical-align: center;
}
.product-section__stats .stats-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 7px;
  padding: 0;
  list-style-type: none;
}
.product-section__stats .stats-list__item {
  color: hsl(0, 0%, 13%);
  padding: 5px;
  font-size: 11px;
  background-color: hsl(0, 0%, 27%);
  border-radius: 5px;
}

.product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0 5px 5px;
}
.product .product-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  font-size: 16px;
  padding: 10px 0;
}
.product .product-info__name {
  width: 150px;
}
.product .product-info__price {
  width: 100px;
}
.product .product-info__quantity {
  width: 100px;
  font-size: 14px;
  color: hsl(0, 0%, 39%);
}
.product .product-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.3s;
}
.product:hover .product-actions {
  opacity: 1;
}

.toolbar-actions {
  display: flex;
  flex-direction: row;
  gap: 7px;
}

.go-home-btn,
.search-product__btn,
.create-product-btn,
.product-actions button {
  display: block;
  width: 30px;
  height: 30px;
  background-color: hsl(0, 0%, 80%);
  border-radius: 10px;
  opacity: 0.6;
  transition: opacity 0.3s;
}
.go-home-btn:hover,
.search-product__btn:hover,
.create-product-btn:hover,
.product-actions button:hover {
  background-color: hsl(0, 0%, 80%);
  opacity: 1;
}

.search-product-btn {
  background-size: auto 50%;
}

.order-section {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 24px;
}
.order-section__title {
  color: hsl(0, 0%, 80%);
  font-size: 24px;
  font-weight: 400;
}

.order {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-size: 16px;
  padding: 5px 0 5px 5px;
}
.order__time {
  width: 80px;
}
.order__name {
  width: 250px;
}
.order__direction {
  width: 30px;
  height: 30px;
}

/*# sourceMappingURL=main.css.map */
