* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  margin: 0;
}

body {
  background-color: hsl(0, 0%, 13%);
}

a {
  text-decoration: none;
}

button, .go-home-container a, .task-links__item {
  padding: 20px;
  border-radius: 10px;
  background-color: hsl(0, 0%, 23%);
  border: none;
  opacity: 1;
  color: hsl(0, 0%, 39%);
}
button:hover, .go-home-container a:hover, .task-links__item:hover {
  background-color: hsl(0, 0%, 27%);
}
button:disabled, .go-home-container a:disabled, .task-links__item:disabled, button[disabled], .go-home-container a[disabled], [disabled].task-links__item {
  background-color: hsl(0, 0%, 27%);
  opacity: 0.5;
}

.lamp__bulb.basic.on + .lamp__light, .lamp__bulb.basic {
  display: block;
  position: absolute;
  z-index: 100;
  top: 181px;
  left: calc(50% - 35px);
  height: 70px;
  width: 70px;
  background-color: hsl(0, 0%, 13%);
  border-radius: 50%;
}

.lamp__bulb.eco.on + .lamp__light, .lamp__bulb.eco {
  display: block;
  position: absolute;
  z-index: 100;
  top: 185px;
  left: calc(50% - 15px);
  height: 40px;
  width: 30px;
  background-color: hsl(0, 0%, 13%);
  border-radius: 0 0 10px 10px;
}

.lamp__bulb.led.on + .lamp__light, .lamp__bulb.led {
  display: block;
  position: absolute;
  z-index: 100;
  top: 181px;
  left: calc(50% - 25px);
  height: 50px;
  width: 50px;
  background-color: hsl(0, 0%, 13%);
  border-radius: 50%;
}

.lamp {
  display: block;
  position: relative;
}
.lamp__wire {
  display: block;
  position: absolute;
  top: 0;
  left: calc(50% - 1px);
  height: 150px;
  width: 2px;
  background-color: hsl(0, 0%, 39%);
}
.lamp__patron {
  display: block;
  position: absolute;
  top: 150px;
  left: calc(50% - 15px);
  height: 35px;
  width: 30px;
  border: solid 2px;
  background-color: hsl(0, 0%, 39%);
  border-color: hsl(0, 0%, 39%) hsl(0, 0%, 39%) transparent hsl(0, 0%, 39%);
  border-radius: 25px 25px 0 0;
}
.lamp__bulb.basic {
  border: solid 2px hsl(0, 0%, 39%);
}
.lamp__bulb.basic.on + .lamp__light {
  border-color: yellow;
  background-color: yellow;
  box-shadow: 0 0 50px yellow, 0 0 100px yellow, 0 0 150px yellow, 0 0 200px yellow, 0 0 250px yellow, 0 0 300px yellow, 0 0 350px;
  opacity: 1;
}
.lamp__bulb.eco {
  border: solid 2px hsl(0, 0%, 39%);
}
.lamp__bulb.eco.on + .lamp__light {
  border-color: antiquewhite;
  background-color: antiquewhite;
  box-shadow: 0 0 50px antiquewhite, 0 0 100px antiquewhite, 0 0 150px antiquewhite, 0 0 200px antiquewhite, 0 0 250px antiquewhite, 0 0 300px antiquewhite, 0 0 350px;
  opacity: 1;
}
.lamp__bulb.led {
  border: solid 2px hsl(0, 0%, 39%);
}
.lamp__bulb.led.on + .lamp__light {
  border-color: #c1ebff;
  background-color: #c1ebff;
  box-shadow: 0 0 50px #c1ebff, 0 0 100px #c1ebff, 0 0 150px #c1ebff, 0 0 200px #c1ebff, 0 0 250px #c1ebff, 0 0 300px #c1ebff, 0 0 350px;
  opacity: 1;
}
.lamp__light {
  opacity: 1;
  border: none;
  background-color: transparent;
}

.container {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 200px;
}
.header__title {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-family: "Inter", sans-serif;
  color: hsl(0, 0%, 80%);
}

.task-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.task-links__item {
  font-size: 20px;
  border-radius: 10px;
  color: hsl(0, 0%, 80%);
  font-weight: 300;
}

.lamp-container {
  display: block;
  width: 100%;
  height: 450px;
}

.lamp-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  padding: 0 70px;
}
.lamp-buttons button, .lamp-buttons .go-home-container a, .go-home-container .lamp-buttons a {
  height: 100px;
  width: 100px;
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
}
.lamp-buttons .toggle-lamp-type-btn {
  background-image: url("/media/rotate-arrow.png");
}
.lamp-buttons .toggle-lamp-power-btn {
  background-image: url("/media/power-btn.png");
}
.lamp-buttons .set-lamp-brightness-btn {
  background-image: url("/media/brightness.png");
}

.go-home-container {
  margin-top: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 70px;
}
.go-home-container a {
  text-align: center;
  font-size: 24px;
  padding: 14px;
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
