@use '../abstracts' as a;
@use '../base';

button {
  $not-pressed-color: a.$gray-dark;
  $pressed-color: a.$gray;

  padding: 20px;
  border-radius: 10px;
  background-color: $not-pressed-color;
  border: none;
  opacity: 1;
  color: a.$gray-light;

  &:hover {
    background-color: $pressed-color;
  }
  &:disabled, &[disabled] {
    background-color: $pressed-color;
    opacity: 0.5;
  }
}