@use '../abstracts' as a;
@use '../base';

%button-with-bg-img {
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
}

button {
  $not-pressed-color: a.$gray-dark;
  $pressed-color: a.$gray;

  padding: 20px;
  border-radius: 10px;
  background-color: $not-pressed-color;
  border: none;
  opacity: 1;
  color: a.$gray-light;

  &:hover {
    background-color: $pressed-color;
  }
  &:disabled, &[disabled] {
    background-color: $pressed-color;
    opacity: 0.5;
  }
}

.rotate-bg {
  @extend %button-with-bg-img;
  background-image: url("/media/rotate-arrow.png");
}

.power-switch-bg {
  @extend %button-with-bg-img;
  background-image: url("/media/power-btn.png");
}

.brightness-bg {
  @extend %button-with-bg-img;
  background-image: url("/media/brightness.png");
}