@use '../abstracts' as a;

.traffic-lights-container {
  position: relative;
}

.traffic-lights {
  $tl-width: 100px;
  $tl-height: 260px;
  $wire-color: a.$gray-light;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: calc(50% - #{$tl-height} / 2);
  left: calc(50% - #{$tl-width} / 2);
  height: $tl-height;
  width: $tl-width;
  border: solid 2px $wire-color;
  border-radius: 10px;

  @mixin light-circle($color) {
    $side: $tl-width - 2 * 15px;

    width: $side;
    height: $side;
    border: solid 2px $wire-color;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.5s;

    &.on {
      background-color: $color;
    }
  }

  &__red {
    $color: hsl(7, 90%, 50%);

    @include light-circle($color);
  }

  &__yellow {
    $color: hsl(47, 90%, 50%);

    @include light-circle($color);
  }

  &__green {
    $color: hsl(100, 90%, 46%);

    @include light-circle($color);
  }
}