@use '../abstracts' as a;

.calendar {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 30px;
  border: solid 2px a.$gray-light;
  border-radius: 20px;
  color: a.$white;

  & td {
    text-align: center;
    padding: 7px;
    border-radius: 50%;

    &.show {
      cursor: pointer;
      background-color: a.$gray-dark;
      transition: background-color 0.3s;

      &:hover {
        background-color: a.$gray-light;
      }
    }
  }
}