@use '../base' as b;
@use '../components' as comp;

$buttons-padding: 70px;

.lamp-container {
  display: block;
  width: 100%;
  height: 450px;
}

.lamp-buttons {
  $action-btn-side: 100px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: $action-btn-side;
  padding: 0 $buttons-padding;

  button {
    height: $action-btn-side;
    width: $action-btn-side;
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
  }

  .toggle-lamp-type-btn {
    background-image: url("/media/rotate-arrow.png");
  }

  .toggle-lamp-power-btn {
    background-image: url("/media/power-btn.png");
  }

  .set-lamp-brightness-btn {
    background-image: url("/media/brightness.png");
  }
}

.go-home-container {
  margin-top: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 $buttons-padding;

  a {
    @extend button;
    text-align: center;
    font-size: 24px;
    padding: 14px;
    width: 100%;
  }
}