@use '../abstracts' as a;

.item-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0;
  list-style-type: none;

  .item {
    $text-color: a.$white;

    display: flex;
    flex-direction: row;
    align-items: center;
    color: $text-color;
  }
}